body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
body .header {
  margin-top: 50px;
  font-family: "Work Sans", Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(246, 246, 246);
}
body .header h1 {
  font-size: 5em;
}
body .header h2 {
  font-size: 1em;
}
body .container {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
body .container section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  scroll-snap-align: center;
  scroll-margin-top: 50px;
  background-color: rgb(246, 246, 246);
  color: rgb(31, 31, 31);
}
body .container section .CI {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  max-height: 75vh;
}
body .container section .CI img {
  max-width: 40%;
}
body .container section .CI__img {
  box-shadow: #999 0px 0px 6px;
}
body .container section .CI__text {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
body .container section .right {
  text-align: right;
}
body .container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  scroll-snap-align: center;
  background-color: rgb(246, 246, 246);
  color: rgb(31, 31, 31);
}
body .container footer .ftr {
  width: 100%;
  height: 100%;
  /* below is just for demo styling */
}
body .container footer .ftr ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style-type: none;
  align-items: center;
}
@media (min-width: 500px) {
  body .container footer .ftr ul {
    grid-auto-flow: column;
  }
}
body .container footer .ftr a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0deg, 0%, 100%, 0.4);
}
body .container footer .ftr a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0deg, 0%, 100%, 0.4);
}
body .container footer .ftr li:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
body .container footer .ftr li:hover ~ li p {
  -webkit-animation: wave-animation 0.3s infinite;
          animation: wave-animation 0.3s infinite;
}
body .container footer .ftr li:first-child {
  color: white;
  text-decoration: none;
}
body .container footer .ftr div {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Consolas, monaco, monospace;
}
@-webkit-keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
body .navbar {
  font-family: "Work Sans", Helvetica, sans-serif;
  /* Change the link color to #111 (black) on hover */
}
body .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
body .navbar li {
  float: left;
}
body .navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body .navbar li a:hover {
  background-color: #111;
}/*# sourceMappingURL=main.css.map */